* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://cdn.pixabay.com/photo/2020/04/23/19/05/star-wars-5083664_960_720.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.titulo {

    color: rgb(0, 0, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 251, 32);
    background-color: rgba(255, 255, 255, 0.301);
    margin: 1%;
    text-align: center;
    font-size: 45px;
}

.container {
    display: flex;
    width: 80%;
}

.ranges {
    display: grid;
    margin-right: 20px;
    margin-left: 15%;
    justify-content: center;

}

.range1,
.range2,
.range3 {
    height: 30vh;
    margin-block: 20%;

}

.range {
    background-color: #fff454;
    color: #000000;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 20px;
    font-weight: bold;


}

.character-display {
    flex: 1;
    display: grid;
}

.character-display1,
.character-display2,
.character-display3 {
    margin-block: 2%;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    height: 30vh;
    border-radius: 5px;


}

.character-card {
    background-color: #a3b3f8d2;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin: 2%;
    height: 12vh;
}